@charset "utf-8";
.SkipNav { left:0; top:0; width:100%; position: relative; z-index: 100; } 
.SkipNav a { height:0; font-size:14px; font-weight:bold; color:#fff; overflow:hidden; display:block; transition-duration: 0.2s; } 
.SkipNav a:focus { height:30px; width:100%; line-height:30px; background:#333; text-align:center; } 

html, body { height: 100%; font-family: 'Noto Sans KR'; color: #fff; height: 100%; padding: 0; margin: 0; } 
.wrap { background-color: #1f1e25; width: 100%; height: 100%; min-width: 1680px; min-height:650px; } 
.clearfix::after { content: ''; clear: both; display: block; } 