@charset "utf-8";
/* font : EliceDigitalBaeum */
@font-face { 
    font-family: 'Elice Digital Baeum'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(../font/EliceDigitalBaeum_Regular.woff) format('woff'),
 
         url(../font/EliceDigitalBaeum_Regular.otf) format('opentype'); 
} 

@font-face { 
    font-family: 'Elice Digital Baeum'; 
    font-style: normal; 
    font-weight: bold; 
    src: url(../font/EliceDigitalBaeum_Bold.woff) format('woff'),
 
         url(../font/EliceDigitalBaeum_Bold.otf) format('opentype'); 
}

/* font : Pretendard */
@font-face { 
    font-family: 'Pretendard'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(../font/Pretendard-Regular.woff) format('woff'),
 
         url(../font/Pretendard-Regular.otf) format('opentype'); 
} 

@font-face { 
    font-family: 'Pretendard'; 
    font-style: normal; 
    font-weight: 500; 
    src: url(../font/Pretendard-Medium.woff) format('woff'),
 
         url(../font/Pretendard-Medium.otf) format('opentype'); 
} 

@font-face { 
    font-family: 'Pretendard'; 
    font-style: normal; 
    font-weight: bold; 
    src: url(../font/Pretendard-Bold.woff) format('woff'),
 
         url(../font/Pretendard-Bold.otf) format('opentype'); 
}

/* font : Noto-KR */
@font-face { 
    font-family: 'Noto-KR'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
 
         url(../font/NotoSansKR-Regular.woff) format('woff'),
 
         url(../font/NotoSansKR-Regular.otf) format('opentype'); 
} 
@font-face { 
    font-family: 'Noto-KR'; 
    font-style: normal; 
    font-weight: 500; 
    src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
 
         url(../font/NotoSansKR-Medium.woff) format('woff'),
 
         url(../font/NotoSansKR-Medium.otf) format('opentype'); 
} 

@font-face { 
    font-family: 'Noto-KR'; 
    font-style: normal; 
    font-weight: bold; 
    src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
 
         url(../font/NotoSansKR-Bold.woff) format('woff'),
 
         url(../font/NotoSansKR-Bold.otf) format('opentype'); 
} 

@font-face { 
    font-family: 'Noto-KR'; 
    font-style: normal; 
    font-weight: 900; 
    src: url(../font/NotoSansKR-Black.woff2) format('woff2'),
 
         url(../font/NotoSansKR-Black.woff) format('woff'),
 
         url(../font/NotoSansKR-Black.otf) format('opentype'); 
}