@charset "utf-8";
/* CSS Document */
body {background:url(../images/common/Kdn_intro_bg.png) no-repeat 0 0; min-height:1080px;}
header {display: flex; justify-content: space-between; align-items: center; width: 100%; min-width:1900px; max-width:1920px; height:115px; padding:0 100px; border-bottom:1px solid rgba(255, 255, 255, 0.3);}
h1 a { font-family: "Elice Digital Baeum";  font-size:28px; font-weight: bold; display: flex; align-items: center; color:#fff;}
h1 img {margin-right:10px;}

header .LoginBox>div {position:relative;font-size: 16px;color:#fff;display: flex;height: 32px;align-items: center;font-family: "Pretendard" !important;}
header .LoginBox>div.Login>button,
header .LoginBox>div.UserInfo>button {font-family: "Pretendard";font-size:16px;font-weight: 500;color:#fff;}
header .LoginBox>div.UserInfo:before {display: block; content: ""; width:32px; height:32px; background:#344670 url(../images/common/icon_login.png) no-repeat center; border-radius: 32px; margin-right:7px;}
header .LoginBox>div.UserInfo .UserName {position:relative;display: flex;align-items: center;}
header .LoginBox>div.UserInfo .UserName::after {display: block;content: "";width:1px;height:13px;background:rgba(255, 255, 255, 0.7);margin: 4px 10px 0px 10px;}
header .LoginBox>div.UserInfo a {color:#fff;position:relative;display: flex;align-items: flex-end;font-weight: 500;}
header .LoginBox>div.UserInfo a strong {font-size: 18px; font-weight: bold;}
header .LoginBox>div.UserInfo button {margin-top:5px;}

/* 로그인 */
.LoginLayer {display: none !important; z-index: 10;}
.LoginLayer.open { display: flex !important; position: fixed; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.7); left: 0; top: 0; justify-content: center; align-items: center; }
.LoginLayer.open>div { width: 100%; max-width: 620px !important; min-height: 320px; background: #fff; border-radius: 20px; padding: 0px 100px; position: relative; display: flex; flex-direction: column; justify-content: center;}
.LoginLayer.open>div h2 {font-family: "Pretendard", sans-serif; font-size: 32px; font-weight: bold; color: #13243f; margin-bottom: 15px; margin-right: 0;}
.LoginLayer.open fieldset {display: flex; width:100%; flex-direction: column; position:relative;}
.LoginLayer.open input[type=text], 
.LoginLayer.open input[type=password] {font-family: "Pretendard", sans-serif;margin:4px 0;height: 42px;padding-right:15px;border-radius: 8px;border: none;width: calc(100% - 105px);color:#353535;}
.LoginLayer.open input[type=text],
.LoginLayer.open input[type=text]:active {background:#ededed url(../images/common/icon_id.png) no-repeat left 15px center; padding-left:35px;}
.LoginLayer.open input[type=password] {background:#ededed url(../images/common/icon_pw.png) no-repeat left 17px center; padding-left:35px;}
.LoginLayer.open fieldset button {width:100px;height:92px;border-radius: 8px;background:#e6930e;color:#fff;font-size:20px;font-weight: bold;position:absolute;right:0;top:4px;transition: box-shadow 0.3s;}
.LoginLayer.open fieldset button:hover { box-shadow:0 0 10px #e6930e;}
/* 로그인 e*/

/* 로그인 닫기 버튼 s*/
.LoginLayer.open .Close_btn {display: block;width: 25px;height: 25px;position: absolute;right: 30px;top: 30px;overflow: hidden;font-size: 0; opacity:0.7;transition: all 0.2s;}
.LoginLayer.open .Close_btn:hover, .LoginLayer.open .Close_btn:focus { opacity:1;}
.LoginLayer.open .Close_btn::before, .LoginLayer.open .Close_btn::after {content: '';display: block;height: 1px;width: 100%;background: #333;transition: all 0.2s;}
.LoginLayer.open .Close_btn::before {transform: rotate(45deg);position: absolute;}
.LoginLayer.open .Close_btn::after {transform: rotate(135deg); position: absolute;left: 0;top: 50%;}
.LoginLayer.open .Close_btn:hover::before,
.LoginLayer.open .Close_btn:focus::before { transform: rotate(135deg); }
.LoginLayer.open .Close_btn:hover::after,
.LoginLayer.open .Close_btn:focus::after { transform: rotate(225deg);}
/* 로그인 닫기 버튼 e*/

/*con s*/
.Cont {width:100%;height: calc(100% - 115px);position:relative;}
.Cont a {font-family:Arial !important; font-size:22px; font-weight: bold; color:#fff; display:block; opacity: 0.7; transition:all 0.4s; position:absolute;}
.Cont a::before {display: block;content: "";background:no-repeat left top;}
.Cont a:hover,
.Cont a:focus {color:#fff; opacity: 1 !important; text-shadow:0 0 10px rgba(255, 255, 255, 0.8);}

/* menu_box S */
.Cont .menu_box {width:300px; display: block; position:absolute; top:90px; left:185px; perspective: 400px;}
.Cont .menu_box a:hover {transform:none;}
.Cont .menu01,
.Cont .menu02,
.Cont .menu03 {transform:rotatey(15deg); transition: transform 0.3s;}

.Cont .menu_box [class*=menu] {display:flex;position:relative;background-color: rgba(255,255,255,0.3);border:1px solid rgba(255, 255, 255, 0.7);border-radius: 12px;height: 110px;padding-left: 40px;margin-bottom:15px;align-items: center;justify-content: flex-start;transition:all 0.3s;}
.Cont .menu_box [class*=menu]:last-of-type { margin-bottom:0;}
.Cont .menu_box [class*=menu]::before {width: 52px;height: 50px;background:no-repeat center center;display:flex;position: relative;margin-right: 20px;}
.Cont .menu_box [class*=menu]:hover, .Cont .menu_box [class*=menu]:focus, .Cont .menu_box [class*=menu]:active {border-color: #83eafe;box-shadow:0 0 10px #83eafe;background:rgba(116, 211, 226, 0.7);}
.Cont .menu01::before{background-image:url("../images/common/icon_menu01.png") !important;  }
.Cont .menu02::before{background-image:url("../images/common/icon_menu02.png") !important; }
.Cont .menu03::before{background-image:url("../images/common/icon_menu03.png") !important;}
/* menu_box E */

.Cont>.menu04 {left: 723px;top: 370px;width:440px;height:411px;padding-top:39px;padding-left:240px;background:url("../images/common/icon_menu04.png") no-repeat left top;}
.Cont>.menu05 {left: 1215px;top: 740px;display: flex;flex-direction: column;align-items: center;}
.Cont>.menu05::before {width: 40px;height: 35px;background:url("../images/common/icon_menu05.png") no-repeat left top; margin-bottom:10px;}
.Cont>.menu06 {left:1468px;top: 60px;width:200px;height:700px;background:url("../images/common/icon_menu06.png") no-repeat right top;padding-top: 210px;}
/*con e*/

footer {display: flex;justify-content: center;align-items: center;min-width: 1900px;max-width: 1920px;height: 90px;color: #fff;opacity: 0.3;position: absolute;left: 0;bottom: 0;}
