.snb { float: left; height:100%; border-right:1px solid #424247; display: flex; justify-content: center; grid-area: aside;} 
.snb ul { margin-top:145px; } 
.snb ul li { margin-bottom:75px; } 
.snb ul li:last-of-type { margin-bottom:0; } 
.snb ul li a { color:rgba(17, 15, 15, 0.6); font-size:14px; display: flex; flex-direction: column; align-items: center; transition:all 0.2s; } 
.snb ul li a:hover,
.snb ul li a:focus,
.snb ul li a.M_on { color: rgb(12, 11, 11); font-weight:bold; } 
.snb ul li a::before { margin-bottom:13px; } 
.snb ul li a:hover::before { box-shadow:0 0 10px rgba(255, 255, 255, 0.4); } 
.snb ul li a.M_on::before { background-color:#000 !important; box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); }